header{
  background-color: orange;
  color: white;
  padding: 20px;
  text-align: left;
  }

nav ul{
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
}
nav ul li{
  display: inline;
  text-decoration: none;
}
#obraz {
  height: 150px;
  width: auto;
  object-fit: contain;
}
#karta{
  margin: 20px;
}
footer{
  background-color: gray;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#text {
    margin-left: 100px;
}