nav ul {
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  text-decoration: none;
}
html, body {
  min-height: 100%;
}

#form-center {
  width: 50%;
  margin-top: 20px;
}

tr,
table {
  width: 100%;
}

td,
tr,
table {
  border-width: 0px;
}

.personal-info-td {
  width: 33%;
}

.adres-info-td {
  width: 20%;
}
.transport{
  width: 50%;
}
header{
  background-color: orange;
  color: white;
  padding: 20px;
  text-align: left;
  }

nav ul{
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
}
nav ul li{
  display: inline;
  text-decoration: none;
}
#obraz {
  height: 150px;
  width: auto;
  object-fit: contain;
}
#karta{
  margin: 20px;
}
footer {
  background-color: gray;
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
#text {
    margin-left: 100px;
}